.vagrant/
data/
venv/
hadoop-2.7.2
hadoop/bin
hadoop/etc
hadoop/include
hadoop/lib
hadoop/libexec
hadoop/sbin
hadoop/share
hadoop/mapreduce/input
hadoop/mapreduce/output
hadoop/mapreduce/splitArticles
hadoop/mapreduce/tmp*
starter/
*.zip

# Project 4 gitignore
venv
flask/static/images
flask/static/images_backup
.vagrant
*.pyc
.DS_Store
pa4.xcworkspace
source.tar.gz
pysha3*
curl.txt
inverted_index.txt

indexServer
indexer
*output.txt

# C++ gitignore
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Project 5 gitignore
pagerank/hits
pagerank/pagerank
hits_code/*.o
pagerank_code/*.o

hits_code/hits.net
hits_code/inverted_index.txt
inverted*
pagerank_code/pagerank.net

pa5.xcworkspace
*out*

