<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>

    

    <title>404 Error</title>

</head>
<body style="font-family:comic sans ms, sans-serif; font-size:40px">
	<p>404: Page not found. Better luck next time, Bernie!</p>

<img src="http://i.huffpost.com/gen/2586964/images/o-JEB-BUSH-facebook.jpg" style="width:804px;height:428px;">

<p class="center">
  <iframe width="0" height="0" src="https://www.youtube.com/embed/MK6TXMsvgQg?autoplay=1" frameborder="0" ></iframe>
</p>

</body>


</html>