{% extends "base.html" %}
{% block content %}

    <!-- If the user is logged out, let them login from here -->
    {% if session['username'] == null %}
    <a id="home_login" href="{{ url_for('login.login_route') }}" style="background-color: white;">log in</a>
    {% endif %}

    <h1>MAKE 485 GREAT AGAIN</h1>
    <p class="center">
      Welcome!
    </p>
    <h2>Top Donors</h2>
    <marquee scrollamount="5">
        <ul>
        	{% for user in users %}
        	<li>
                <a href="{{ url_for('albums.albums_route', username=user.username) }}" id="user_albums_{{user.username}}">{{ user.username }}</a>
        	</li>
        	{% endfor %}
        </ul>
    </marquee>
    <br><br>
    <h2>Albums I Can View</h2>
    <ul>
        {% for album in albums %}
            <li>
                <a href="{{ url_for('album.album_route', id=album.album_id) }}" id="album_{{album.album_id}}_link">{{ album.album_title }}</a>
            </li>
        {% endfor %}

    </ul>
    <marquee style="font-size:10px; color: red" scrollamount="20" direction="right"><a id="home_user_create" href="{{ url_for('user.user_route') }}">Register to vote for trump</a></marquee>
{% endblock %}