{% extends "base.html" %}
{% block content %}
<div id="body" style="text-align: center">
<h1>ALBUM</h1>
{% if edit %}
<a href="{{ url_for('album.album_route', id=albumid) }}">Back to Album</a>

{% if isprivate %}
<br><br>
<form method="post" action="{{ url_for('album.album_edit_route', id=albumid) }}">
	<input id="album_edit_public_radio" type="radio" name="access" value="public"> Public<br>
		<input id="album_edit_private_radio" type="radio" name="access" value="private" checked> Private<br>
			<input id="album_edit_access_submit" type="submit">
				<input type="hidden" name="op" value="access">
					<input type="hidden" name="albumid" value="{{ albumid }}">
						</form>
<br>
<table style="width:35%" align="center">
	<tr><th width="65%">Username</th><th width="35%">Update Access</th></tr>
	{% for user in accessibleusers %}
	<tr>
		<td align="center">{{ user }}</td>
		<td>
			<form method="post" action="{{ url_for('album.album_edit_route', id=albumid) }}">
				<input id="album_edit_revoke_{{ user }}" type="submit" value="Revoke">
					<input type="hidden" name="op" value="revoke">
						<input type="hidden" name="albumid" value="{{ albumid }}">
							<input type="hidden" name="username" value="{{ user }}">
								</form>
		</td>
	</tr>
	{% endfor %}
	<tr>
		<form method="post" action="{{ url_for('album.album_edit_route', id=albumid) }}">
			<td>New: <input id="album_edit_grant_input" type="text" name="username"></td>
			<td><input id="album_edit_grant_submit" type="submit" value="Add"></td>
			<input type="hidden" name="op" value="grant">
				<input type="hidden" name="albumid" value="{{ albumid }}">
					</form>
	</tr>
</table>
{% else %}
<br><br>
<form method="post" action="{{ url_for('album.album_edit_route', id=albumid) }}">
	<input id="album_edit_public_radio" type="radio" name="access" value="public" checked> Public<br>
		<input id="album_edit_private_radio" type="radio" name="access" value="private"> Private<br>
			<input id="album_edit_access_submit" type="submit">
				<input type="hidden" name="op" value="access">
					<input type="hidden" name="albumid" value="{{ albumid }}">
						</form>
{% endif %}

<br>
<h3 style="margin-bottom: 0px">Add Photo</h3>
<form method="post" action="{{ url_for('album.album_edit_route', id=albumid )}}" enctype="multipart/form-data">
	<input id="file_input" type="file" name="file" accept="image/*">
		<button id="file_submit" type="submit">Add</button>
		<input type="hidden" name="op" value="add">
			<input type="hidden" name="albumid" value="{{ albumid }}">
				</form>
<p></p>
{% else %}
<p><a href="{{ url_for('albums.albums_route') }}" style="margin-bottom:5 px">Back to Albums</a></p>

{% if albumowner %}
<p><a href="{{ url_for('album.album_edit_route', id=albumid) }}" style="margin-right: 20px">Edit Album</a></p>
{% endif %}
{% endif %}
<table align="center">
	{% for picture in pictures %}
	<tr>
		{% if edit %}
		<td>
			<form method="post" action="{{ url_for('album.album_edit_route', id=albumid) }}">
				<button id="delete_pic_{{ picture.picid }}" type="submit">Delete</button>
				<input type="hidden" name="op" value="delete">
			  <input type="hidden" name="albumid" value="{{ albumid }}">
				  <input type="hidden" name="picid" value="{{ picture.picid }}">
					  </form>
		</td>
		{% endif %}
		<td><a id="pic_{{ picture.picid }}_link" href="{{ url_for('pic.pic_route', id=picture.picid)}}"><img src="/static/images/{{ picture.picid }}.{{ picture.format }}" height="150"></a></td>
	</tr>
	{% endfor %}
</table>
</div>
{% endblock %}